@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  --background-dark: #23232d;
  --header-dark: rgba(37, 40, 42, 0.92);
  --nav-dark: #2e2e351e;
  --font-light: #ffffff;
  --font-gray: #c0c0c0;
  --font-green: #37ff9e;
}

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--font-light);
}

/*          HEADER           */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  height: 64px;
  font-size: 1rem;
  letter-spacing: 0.7px;
  backdrop-filter: blur(6px);
  background-color: var(--header-dark);
}

.header-name-wrapper {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--font-gray);
}

.header-logo {
  height: 32px;
  width: 32px;
  filter: invert(74%) sepia(63%) saturate(493%) hue-rotate(88deg)
    brightness(104%) contrast(101%);
}

.header-name-wrapper:hover {
  cursor: pointer;
}

.nav-mode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--font-gray);
}

.nav-child:not(.nav-main) {
  display: none;
}

.nav-main {
  height: 45px;
  width: 45px;
  filter: invert(84%) sepia(5%) saturate(0%) hue-rotate(169deg) brightness(97%)
    contrast(80%);
}

.nav-main:hover {
  cursor: pointer;
}

.mode-wrapper {
  align-self: center;
  padding-top: 4px;
}

.dark-mode-icon:hover,
.light-mode-icon:hover {
  cursor: pointer;
}

.dark-mode-icon {
  filter: invert(67%) sepia(55%) saturate(1879%) hue-rotate(216deg)
    brightness(82%) contrast(90%);
}

.light-mode-icon {
  filter: invert(94%) sepia(85%) saturate(642%) hue-rotate(10deg)
    brightness(106%) contrast(101%);
}

.icon-animation {
  animation: icon-blur 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*    SWITCH MODE   */

.switch-mode-wrapper {
  display: flex;
  align-items: center;
}

/*          LANDING PAGE             */

.LandingPage {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingpage-title {
  font-size: 5rem;
  animation: title-animation 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  color: white;
}

.landingpage-subtitle {
  font-size: 1.5rem;
  color: var(--font-gray);
  animation: title-animation 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*          ABOUT            */

.About {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.about-title {
  font-size: 3.5rem;
}

.about-intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  font-size: 1.2rem;
}

.me {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.about-intro-text {
  width: 800px;
  color: var(--font-gray);
}

.about-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 156px;
  padding-top: 64px;
  font-size: 1.4rem;
}

.about-languages-wrapper,
.about-skills-wrapper,
.about-spoken-languages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about-languages,
.about-skills,
.about-spoken-languages {
  display: flex;
  gap: 16px;
}

/*          PROJECTS             */

.Projects,
.Projects2 {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.projects-title {
  padding-top: 64px;
  font-size: 3rem;
}

.Project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: var(--font-gray);
  font-size: 1.2rem;
}

.project-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-title {
  color: var(--font-light);
  font-size: 1.4rem;
  text-align: center;
}

.project-text {
  width: 500px;
  line-height: 28px;
  text-align: center;
}

.abstract {
  width: 460px;
}

/*          CONTACT             */

.Contact {
  font-family: "Roboto Mono", monospace;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  font-size: 3rem;
  color: var(--font-light);
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--font-gray);
  padding-bottom: 100px;
}

.contact-icons {
  display: flex;
  gap: 115px;
}

.linked-in-icon {
  height: 64px;
  width: 75px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%);
}

.github-icon {
  height: 64px;
  width: 64px;
}

.contact-email {
  font-size: 2rem;
}

.contact-source-code {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--font-gray);
}

.contact-title {
  width: 11ch;
  animation: typing 2s steps(27), blink 0.65s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*          ANIMATIONS            */

@keyframes title-animation {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes icon-blur {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*          IMAGES          */

.icon {
  height: 36px;
}

video {
  height: 320px;
  width: 569px;
}
