@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --background-dark: #1c1c24;
  --header-dark: rgba(30, 32, 33, 0.92);
  --nav-dark: #2e2e351e;
  --font-light: #ffffff;
  --font-gray: #c0c0c0;
  --font-green: #37ff9e;
}

[data-theme="light"] {
  --background-dark: #f0e7db;
  --header-dark: rgba(248, 245, 238, 0.868);
  --nav-dark: #f4ede4;
  --font-light: #1a202c;
  --font-gray: #110e0e;
}
[data-theme="dark"] {
  --background-dark: #1c1c24;
  --header-dark: rgba(30, 32, 33, 0.92);
  --nav-dark: #2e2e351e;
  --font-light: #ffffff;
  --font-gray: #c0c0c0;
}

html {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--font-light);
}

/*          HEADER           */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  height: 64px;
  font-size: 1rem;
  letter-spacing: 0.7px;
  backdrop-filter: blur(6px);
  background-color: var(--header-dark);
}

.header-name-wrapper {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--font-gray);
}

.header-logo {
  padding-top: 2px;
  height: 32px;
  width: 32px;
  filter: invert(74%) sepia(63%) saturate(493%) hue-rotate(88deg)
    brightness(104%) contrast(101%);
}

.header-name-wrapper:hover {
  cursor: pointer;
}

.nav-mode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--font-gray);
}

.nav-child:not(.nav-main) {
  display: none;
}

.nav-main {
  height: 45px;
  width: 45px;
  filter: invert(84%) sepia(5%) saturate(0%) hue-rotate(169deg) brightness(97%)
    contrast(80%);
}

.nav-child:hover {
  cursor: pointer;
}

.mode-wrapper {
  align-self: center;
  padding-top: 4px;
}

.dark-mode-icon:hover,
.light-mode-icon:hover {
  cursor: pointer;
}

.dark-mode-icon {
  filter: invert(67%) sepia(55%) saturate(1879%) hue-rotate(216deg)
    brightness(82%) contrast(90%);
}

.light-mode-icon {
  filter: invert(94%) sepia(85%) saturate(642%) hue-rotate(10deg)
    brightness(106%) contrast(101%);
}

.icon-animation {
  animation: icon-blur 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*    SWITCH MODE   */

.switch-mode-wrapper {
  display: flex;
  align-items: center;
}

/*          LANDING PAGE             */

.LandingPage {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingpage-title {
  display: flex;
  font-size: 5rem;
  animation: title-animation 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  color: var(--font-light);
}

.landingpage-subtitle {
  font-size: 1.5rem;
  color: var(--font-gray);
  width: 18.25ch;
  animation: blink 0.65s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation: make-visible 1.1s, typing 2s steps(27) 1s,
    blink 0.65s step-end 2s infinite alternate;
}

.down-arrow {
  position: absolute;
  bottom: 50px;
  height: 84px;
  width: 84px;
  filter: invert(93%) sepia(0%) saturate(1134%) hue-rotate(139deg)
    brightness(86%) contrast(84%);
  animation: slideUp 6.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.down-arrow:hover {
  cursor: pointer;
  filter: invert(25%) sepia(17%) saturate(583%) hue-rotate(186deg)
    brightness(101%) contrast(86%);
}

/*          ABOUT            */

.About {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.about-title {
  font-size: 3.5rem;
}

.about-intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  font-size: 1.2rem;
}

.me {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.about-intro-text {
  width: 800px;
  color: var(--font-gray);
}

.about-categories {
  display: flex;
  align-items: baseline;
  gap: 120px;
  padding-top: 32px;
  font-size: 1.4rem;
  padding-left: 16px;
}

.about-languages-wrapper,
.about-skills-wrapper,
.about-spoken-languages-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.about-languages,
.about-skills,
.about-spoken-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.about-spoken-languages-wrapper {
  gap: 32px;
}

.about-spoken-languages {
  display: flex;
  flex-direction: column;
}

.about-native-wrapper,
.about-fluent-wrapper,
.about-conversational-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--font-gray);
}

.about-native-flags,
.about-fluent-flags,
.about-conversational-flags {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.about-spoken-languages img {
  height: 36px;
  width: 36px;
}

.about-courses-wrapper {
  color: var(--font-gray);
  text-align: center;
  line-height: 24px;
}

.about-course {
  font-size: 1rem;
}

.about-skills {
  gap: 8px;
}

/*          PROJECTS             */

.Projects,
.Projects2 {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.projects-title {
  padding-top: 64px;
  font-size: 3rem;
}

.Project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: var(--font-gray);
  font-size: 1.2rem;
}

.project-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-title {
  color: var(--font-light);
  font-size: 1.4rem;
  text-align: center;
}

.project-text {
  width: 500px;
  line-height: 28px;
  text-align: center;
}

.abstract {
  width: 460px;
}

/*          CONTACT             */

.Contact {
  font-family: "Roboto Mono", monospace;
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  font-size: 3rem;
  color: var(--font-light);
}

.contact-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--font-gray);
  padding-bottom: 100px;
}

.contact-icons {
  display: flex;
  gap: 115px;
}

.linked-in-icon {
  height: 64px;
  width: 75px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%);
}

.github-icon {
  height: 64px;
  width: 64px;
}

.contact-email {
  font-size: 2rem;
}

.contact-source-code {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--font-gray);
}

.contact-title {
  width: 11ch;
  animation: blink 0.65s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.linked-in-light {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*          ANIMATIONS            */

@keyframes make-visible {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes title-animation {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes icon-blur {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/*          IMAGES          */

.icon {
  height: 36px;
}

video {
  height: 320px;
  width: 569px;
}

/*                MOBILE                */

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
  }

  /*        Nav         */

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
    height: 64px;
    font-size: 1rem;
  }

  /*        Landing page        */

  .landingpage-title-mobile {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landingpage-subtitle-mobile {
    padding-top: 24px;
    padding-bottom: 150px;
  }

  /*        About       */

  .About {
    height: 200vh;
    justify-content: flex-start;
  }
  .about-intro-wrapper {
    flex-direction: column;
  }
  .me {
    height: 200px;
    width: 200px;
  }
  .about-intro-text {
    width: 75vw;
    text-align: center;
  }
  .about-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .about-languages-wrapper,
  .about-skills-wrapper,
  .about-spoken-languages-wrapper {
    gap: 24px;
  }
  .about-courses-wrapper {
    font-size: 0.8rem;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*        Projects        */
  .Projects {
    padding-bottom: 50vh;
    gap: 64px;
  }
  .Project {
    flex-direction: column;
    gap: 32px;
  }
  .project-text {
    width: 90vw;
  }
  video {
    height: 200px;
    width: 355px;
  }
  .abstract {
    height: 200px;
    width: 355px;
  }
  .reverse-project {
    flex-direction: column-reverse;
  }

  .Projects2 {
    padding-bottom: 20vh;
  }
  .contact-email {
    font-size: 1.8rem;
  }

  /*        Contact       */

  .contact-title {
    font-size: 3rem;
  }

  /*      For super tiny phones     */

  @media (max-height: 700px) {
    .About {
      height: 250vh;
    }
    .Projects {
      padding-bottom: 80vh;
    }
    .Projects2 {
      padding-bottom: 40vh;
    }
  }
}
