@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
* {
  padding: 0;
  margin: 0;
  --background-dark: #2c2c38;
  --header-dark: #2e2e35ea;
  --nav-dark: #2e2e351e;
  --font-light: #ffffff;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  color: var(--font-light);
}

/*          HEADER           */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 120px;
  align-items: center;
  height: 72px;
  font-size: 1.3rem;
  letter-spacing: 0.7px;
  backdrop-filter: blur(6px);
  background-color: var(--header-dark);
}

.header-name-wrapper {
  font-family: "Ms Madi", sans-serif;
  font-size: 2rem;
}

.header-name-wrapper:hover {
  cursor: pointer;
}

.nav-mode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 32px;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.nav-child:not(.nav-main) {
  display: none;
}

.nav-main {
  filter: invert(84%) sepia(5%) saturate(0%) hue-rotate(169deg) brightness(97%)
    contrast(80%);
}

.nav-main:hover {
  cursor: pointer;
}

.mode-wrapper {
  align-self: center;
  padding-top: 6px;
}

.dark-mode-icon:hover,
.light-mode-icon:hover {
  cursor: pointer;
}

.dark-mode-icon {
  animation: icon-blur 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  filter: invert(67%) sepia(55%) saturate(1879%) hue-rotate(216deg)
    brightness(82%) contrast(90%);
}

.light-mode-icon {
  animation: icon-blur 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  filter: invert(94%) sepia(85%) saturate(642%) hue-rotate(10deg)
    brightness(106%) contrast(101%);
}

.icon-animation {
  animation: icon-blur 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*    SWITCH MODE   */

.switch-mode-wrapper {
  display: flex;
  align-items: center;
}

/*          LANDING PAGE             */

.LandingPage {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landingpage-title {
  font-size: 7rem;
  animation: title-animation 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  color: white;
}

.landingpage-subtitle {
  font-size: 32px;
  animation: title-animation 1.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*          ABOUT            */

.About {
  scroll-snap-align: start;
  height: 100vh;
  background-color: lightgray;
}

/*          PROJECTS             */

.Projects {
  scroll-snap-align: start;
  height: 100vh;
}

/*          ANIMATIONS            */

@keyframes title-animation {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes icon-blur {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*          IMAGES          */

.icon {
  height: 36px;
}
